doctype html
head
    title Cards
    link(rel="stylesheet" type="text/css" href="css/style.css")
body
    ul 
        if card1
            a(href=`/cards/${card1.id}`) #{card1.name}, #{card1.id}
        if card2
            a(href=`/cards/${card2.id}`) #{card2.name}, #{card2.id} 
        if card3
            a(href=`/cards/${card3.id}`) #{card3.name}, #{card3.id} 
        if card4
            a(href=`/cards/${card4.id}`) #{card4.name}, #{card4.id} 
        if card5
            a(href=`/cards/${card5.id}`) #{card5.name}, #{card5.id} 
        if card6
            a(href=`/cards/${card6.id}`) #{card6.name}, #{card6.id} 
        if card7
            a(href=`/cards/${card7.id}`) #{card7.name}, #{card7.id} 
        if card8
            a(href=`/cards/${card8.id}`) #{card8.name}, #{card8.id} 
        if card9
            a(href=`/cards/${card9.id}`) #{card9.name}, #{card9.id} 
        if card10
            a(href=`/cards/${card10.id}`) #{card10.name}, #{card10.id} 
        if card11
            a(href=`/cards/${card11.id}`) #{card11.name}, #{card11.id} 
        if card12
            a(href=`/cards/${card12.id}`) #{card12.name}, #{card12.id} 
        if card13
            a(href=`/cards/${card13.id}`) #{card13.name}, #{card13.id} 
        if card14
            a(href=`/cards/${card14.id}`) #{card14.name}, #{card14.id} 
        if card15
            a(href=`/cards/${card15.id}`) #{card15.name}, #{card15.id} 
        if card16
            a(href=`/cards/${card16.id}`) #{card16.name}, #{card16.id} 
        if card17
            a(href=`/cards/${card17.id}`) #{card17.name}, #{card17.id} 
        if card18
            a(href=`/cards/${card18.id}`) #{card18.name}, #{card18.id} 
        if card19
            a(href=`/cards/${card19.id}`) #{card19.name}, #{card19.id} 
        if card20
            a(href=`/cards/${card20.id}`) #{card20.name}, #{card20.id}
    